.button-with-icon-and-title-container {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  font-size: var(--font-md);
  font-weight: 600;
  border-radius: 10px;
  background-color: rgb(var(--button-background-color));
  padding: 0 20px;
  cursor: pointer;
}

.button-with-icon-and-title-container:hover {
  border: 1px solid var(--button-background-color);
  background-color: rgba(var(--button-background-color), 0.6);
  font-size: var(--font-lg);
}
