.horizontal-movie-card {
  height: 100%;
  aspect-ratio: 5 / 3;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.horizontal-movie-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

.horizontal-movie-card:hover {
  border: 1px solid rgb(61, 61, 197);
  box-shadow: 2px 2px 5px rgb(61, 61, 197);
}

.horizontal-movie-card:hover img {
  transform: scale(1.2);
  transform-origin: center;
}
