.hero-section {
  min-height: 90vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--hero-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(15px);
  z-index: -1;
}

.hero-movie-detail-container {
  display: flex;
  align-items: start;

  overflow: hidden;
  gap: 30px;
}

.hero-image {
  height: 320px;
  aspect-ratio: 3 / 4;
  box-shadow: -2px -2px 10px rgb(255, 255, 255, 0.8);
  flex-shrink: 0;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-movie-detail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 10px;
  align-items: start;
  max-width: 600px;
}

.hero-movie-detail p {
  font-size: var(--font-lg);
  color: var(--font-light-grey);
}
.hero-button-container {
  margin-top: 10px;
  width: 100%;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}

.rating {
  font-size: var(--font-2xl);
  color: var(--font-light-grey);
  display: flex;
  align-items: center;
  gap: 10px;
}
.rating svg {
  color: yellow;
  font-size: var(--font-2xl);
}

.hero-overview {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Recent Movies */

.recent-movies-container {
  position: absolute;
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  bottom: 20px;
  left: 0;
  right: 0;
}

.recent-movies-card-container {
  display: flex;
  width: 100%;
  max-width: 1200px;
  justify-content: start;
  gap: 10px;
  height: 150px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}

.horizontal-movie-card {
  height: 100%;
  aspect-ratio: 5 / 3;
  flex-shrink: 0;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.horizontal-movie-card.active {
  border: 1px solid rgb(61, 61, 197);
  box-shadow: 3px 2px 10px rgb(61, 61, 197);
}
.horizontal-movie-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 0.5s ease;
}

.horizontal-movie-card:hover {
  border: 1px solid rgb(61, 61, 197);
  box-shadow: 2px 2px 5px rgb(61, 61, 197);
}

.horizontal-movie-card:hover img {
  transform: scale(1.2);
  transform-origin: center;
}
