.movies-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.vertical-movie-card-container {
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 15px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}

.vertical-movie-card {
  height: 280px;
  /* width: 220px; */
  padding: 15px;
  aspect-ratio: 3 / 4;
  background-image: var(--vertical-movie-card-background);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  border-radius: 5px;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  cursor: pointer;
}
.vertical-movie-card::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: inherit;
  background-position: center;
  background-size: cover;
  filter: blur(7px);
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 1;
}

.vertical-movie-card:hover::before {
  transform: scale(1.2);
  opacity: 1;
}

.vertical-movie-card:hover {
  border: 1px solid rgb(61, 61, 197);
  box-shadow: 2px 2px 5px rgb(61, 61, 197);
}

.vertical-movie-card > * {
  position: relative;
  z-index: 2;
}

.vertical-movie-card h4 {
  text-align: center;
}

.vertical-movie-card p {
  font-size: var(--font-sm);
  color: var(--font-light-grey);
  text-align: start;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vertical-movie-card span {
  font-size: var(--font-md);
  font-weight: bold;
  opacity: 0;
}
.vertical-movie-card h4,
.vertical-movie-card p,
.vertical-movie-card span {
  opacity: 0;
  transform: translateY(10px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  z-index: 2;
}

.vertical-movie-card:hover h4,
.vertical-movie-card:hover p,
.vertical-movie-card:hover span {
  opacity: 1;
  transform: translateY(0);
}

.sentinel {
  min-width: 1px;
}

.loading {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ff3c00; /* main theme color */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 680px) {
  .vertical-movie-card-container {
    padding: 0 0.5rem;
  }
}
