.cart-section {
  height: 100vh;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-container {
  max-width: 500px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.cart-card {
  padding: 5px 15px;
  height: 80px;
  width: 100%;
  background-color: rgba(13, 13, 13, 0.5);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cart-card img {
  border-radius: 5px;
  height: 80%;
  aspect-ratio: 1 / 1;
}

.cart-card button {
  background-color: transparent;
  border: none;
  color: red;
  font-size: var(--font-lg);
}

.cart-card h4 {
  width: 100%;
  /* background-color: blue; */
  text-justify: start;
}
