.movie-detail-background {
  height: 70vh;
  width: 100%;
  background-image: var(--movie-detail-background-image);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
