.search-result-page {
  background-color: var(--background-color);
  margin-top: 80px;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 10px;

  justify-items: center;
}

.loading-trigger {
  height: 40px;
}

.loading {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #ff3c00; /* main theme color */
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: inline-block;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 680px) {
  .vertical-movie-card-container {
    padding: 0 0.5rem;
  }
}
