* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--font-white);
  background-color: var(--background-color);
  line-height: 1.5;
}

h1 {
  font-size: var(--font-heading-l);
  color: var(--font-white);
}

h3 {
  font-size: var(--font-heading-s);
  color: var(--font-white);
}

h4 {
  font-size: var(--font-heading-xs);
  color: var(--font-white);
}
