.custom-dropdown {
  position: relative;
  min-width: 150px;
}

.dropdown-button {
  width: 100%;
  padding: 5px 14px;
  background: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-size: var(--font-md);
}
.dropdown-button:hover {
  background: rgba(0, 0, 0, 0.3);
}

.arrow {
  font-size: var(--font-lg);
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  min-width: 150px;
  background: #111;
  margin-top: 4px;
  border-radius: 6px;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-options li {
  list-style: none;
  padding: 4px 10px;
  color: white;
  cursor: pointer;
}

.dropdown-options li:hover,
.dropdown-options li.active {
  background: #333;
}
